<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.krishna.assist">

    <application>
        <service
            android:name=".AssistJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>
    </application>
</manifest>